# нормализуем переводы строк, скрипты всегда LF (иначе ash на роутере ругнётся)
* text=auto eol=lf
*.sh text eol=lf

# для языковой статистики репозитория README не учитываем как код
*.md linguist-documentation
